
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Index</h2>
    <h3>Factura comercio exterior</h3>
</div>

<div class="container">
    @Html.ActionLink("Crear", "crearF", "FacturasEx",null,new{@class="btn btn-info"})
    <hr />
</div>



